<html>
<!-- This code is from https://developers.google.com/chart/interactive/docs/gallery/linechart -->
  <head>
    <!-- need jquery to send a get request -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      
      

      function drawChart() {
        var data_json = [];
        $.get( "/api/prediction_results", function( data ) {
    
          // get request means we go and grab something from your backend
          // the data is from our backend, it is {'google_data':table_data}
          data_json = JSON.parse(data);
          
          var data = google.visualization.arrayToDataTable(data_json['google_data']);
          

          var options = {
            title: 'Prediction vs Ground Truth',
            legend: { position: 'bottom' }
          };

          var chart = new google.visualization.ScatterChart(document.getElementById('curve_chart'));

          chart.draw(data, options);
        });

      }
    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
  </body>
</html>